* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(224.68deg, rgba(169.72, 1.28, 172.58, 1), rgba(59.96, 18.12, 91.95, 1) 22%, rgba(88.97, 27.49, 129.95, 1) 40%, rgba(123.39, 45.51, 175.31, 1) 50%, rgba(175.31, 45.51, 162.33, 1) 76%, rgba(152.02, 20.46, 138.86, 1) 90%);
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 111px;
    background: linear-gradient(144.63deg, rgba(199.83, 122.97, 198.55, 1), rgba(204.12, 105.09, 202.47, 1) 8%, rgba(207.6, 90.56, 205.65, 1) 14%, rgba(211.34, 74.92, 209.07, 1) 21%, rgba(215.63, 57.04, 212.99, 1) 29%, rgba(219.11, 42.51, 216.17, 1) 35%, rgba(223.13, 25.75, 219.84, 1) 42%, rgba(199.31, 29.12, 214.67, 1) 50%, rgba(167.1, 33.7, 207.68, 1) 62%, rgba(139.08, 37.67, 201.6, 1) 71%, rgba(102.66, 42.84, 193.7, 1) 84%, rgba(0, 5.58, 111.56, 1) 100%);

}

.title {
    font-size: 32pt;
    color: white;
}

.cart {
    background-color: blueviolet;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: absolute;
    right: 15px;
    top: calc(50% - 37px)
}

#introduction {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    margin: 40px auto;
}

.preim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 216px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(144.63deg, rgba(199.83, 122.97, 198.55, 1), rgba(204.12, 105.09, 202.47, 1) 8%, rgba(207.6, 90.56, 205.65, 1) 14%, rgba(211.34, 74.92, 209.07, 1) 21%, rgba(215.63, 57.04, 212.99, 1) 29%, rgba(219.11, 42.51, 216.17, 1) 35%, rgba(223.13, 25.75, 219.84, 1) 42%, rgba(199.31, 29.12, 214.67, 1) 50%, rgba(167.1, 33.7, 207.68, 1) 62%, rgba(139.08, 37.67, 201.6, 1) 71%, rgba(102.66, 42.84, 193.7, 1) 84%, rgba(0, 5.58, 111.56, 1) 100%);
}

h3 {
    margin-left: 40px;
    background: linear-gradient(144.63deg, rgba(199.83, 122.97, 198.55, 1), rgba(204.12, 105.09, 202.47, 1) 8%, rgba(207.6, 90.56, 205.65, 1) 14%, rgba(211.34, 74.92, 209.07, 1) 21%, rgba(215.63, 57.04, 212.99, 1) 29%, rgba(219.11, 42.51, 216.17, 1) 35%, rgba(223.13, 25.75, 219.84, 1) 42%, rgba(199.31, 29.12, 214.67, 1) 50%, rgba(167.1, 33.7, 207.68, 1) 62%, rgba(139.08, 37.67, 201.6, 1) 71%, rgba(102.66, 42.84, 193.7, 1) 84%, rgba(0, 5.58, 111.56, 1) 100%);
    width: 140px;
    height: 50px;
}

.container {
    display: grid;
    gap: 189px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.container>a {
    text-decoration: none;
    color: white;
    display: block;
}

.card {

    border-radius: 8px;
    overflow: hidden;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgb(255, 255, 255);
}

.name {
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

.photo {

    justify-content: center;
    align-items: center;
    height: 400px;
}

.photo img {
    max-width: 100%;
    max-height: 400px;

}

.cost {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

.card {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 340px;
    height: 550px;
    border-radius: 51px;
    background: conic-gradient(from 7.31deg at 50% 50%, rgba(87, 15, 186, 1) 0deg, rgba(122, 0, 163, 1) 0deg, rgba(180, 160, 208, 1) 100.80000000000001deg, rgba(82, 20, 118, 1) 144deg, rgba(139, 97, 199, 1) 216deg, rgba(130, 83, 196, 1) 284.40000000000003deg, rgba(87, 15, 186, 1) 360deg, rgba(122, 0, 163, 1) 360deg);
    margin: 0 auto;
}

.name {
    text-align: center;
    font-size: 32px;

}

.photo {

    width: 90%;
    height: 400px;
    margin: auto;
}

.photo img {
    width: 100%;
    margin-top: 30px;
}


.cost {
    text-align: center;
    font-size: 25px;

}

a {
    margin-bottom: 15px;
    margin: auto;
    width: 340px;
    height: 550px;
    color: #fff;
    text-decoration: none;
}

a:visited,
a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    justify-content: space-around;
}