* {
    box-sizing: border-box;
}
header {
    position: sticky;
    top: 0;
    background-color: rgba(113, 8, 211, 0.5);
    height: 30px;

    font-size: 19pt;
    text-align: center;
}

.pay { 
  
   width: 500px;
   font-size: 14pt;
   color: rgb(0, 0, 0);
   margin: 10px auto;
   background-position: center;
   background-size: cover;
   background-color: rgb(61, 57, 57); 
   height: 100vh;
}
#mail #telegram #tel {
    border: 2px  solid;
   border-radius: 5%;

}
#submit {
   border-radius: 5%;

   text-align: center;
   font-size: 16pt;
   padding: 3px;
   padding: 3px;
}   
input {
   margin-bottom: 6px;
   margin-left: 7px;
   padding: 3px;
   border-radius: 20%;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    box-sizing: content-box;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(224.68deg, rgba(169.72, 1.28, 172.58, 1), rgba(59.96, 18.12, 91.95, 1) 22%, rgba(88.97, 27.49, 129.95, 1) 40%, rgba(123.39, 45.51, 175.31, 1) 50%, rgba(175.31, 45.51, 162.33, 1) 76%, rgba(152.02, 20.46, 138.86, 1) 90%);
    min-height: 100vh;
    background-attachment: fixed;
}
