* {
    box-sizing: border-box;
}
header {
    position: sticky;
    top: 0;
    background-color: rgba(113, 8, 211, 0.5);
    height: 30px;

    font-size: 19pt;
    text-align: left;
}


.pay { 
  
   width: 500px;
   font-size: 14pt;
   color: rgb(0, 0, 0);
   margin: 10px auto;
   background-position: center;
   background-size: cover;
   background: conic-gradient(from 7.31deg at 50% 50%, rgba(87, 15, 186, 1) 0deg, rgba(122, 0, 163, 1) 0deg, rgba(180, 160, 208, 1) 100.80000000000001deg, rgba(82, 20, 118, 1) 144deg, rgba(139, 97, 199, 1) 216deg, rgba(130, 83, 196, 1) 284.40000000000003deg, rgba(87, 15, 186, 1) 360deg, rgba(122, 0, 163, 1) 360deg);
    justify-content: center;
   height: 601PX;
}
#mail #telegram #tel {
    border: 2px  solid;
   border-radius: 5%;
   justify-content: center;

}
#submit {
   border-radius: 5%;

   text-align: center;
   font-size: 16pt;
   padding: 3px;
   padding: 3px;
}   
input {
   margin-bottom: 6px;
   margin-left: 7px;
   padding: 3px;
   border-radius: 20%;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    box-sizing: content-box;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(224.68deg, rgba(169.72, 1.28, 172.58, 1), rgba(59.96, 18.12, 91.95, 1) 22%, rgba(88.97, 27.49, 129.95, 1) 40%, rgba(123.39, 45.51, 175.31, 1) 50%, rgba(175.31, 45.51, 162.33, 1) 76%, rgba(152.02, 20.46, 138.86, 1) 90%);
    min-height: 100vh;
    background-attachment: fixed;
}
a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
  }
  
  a:hover {
    color: #ffffff; 
    text-decoration: none;
  }
  
  a:visited {
    color: #ffffff; 
    text-decoration: none;
  }
  
  a:active {
    color: #ffffff; 
    text-decoration: none;
  }