* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(224.68deg, rgba(169.72, 1.28, 172.58, 1), rgba(59.96, 18.12, 91.95, 1) 22%, rgba(88.97, 27.49, 129.95, 1) 40%, rgba(123.39, 45.51, 175.31, 1) 50%, rgba(175.31, 45.51, 162.33, 1) 76%, rgba(152.02, 20.46, 138.86, 1) 90%);
    min-height: 100vh;
    background-attachment: fixed;
}

.back {

    text-align: left;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(113, 8, 211, 0.5);
    height: 30px;

    font-size: 19pt;
    text-align: center;
}

.z2000:hover .tip {
    visibility: visible;
    transition: all 5s ease;
    font-size: 10pt;
    width: 703px;
    height: 4311px;
}

.z2000 {
    position: relative;
    color: rgb(247, 247, 247);

    font-family: Archivo;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
    /* background-color: blueviolet; */
    width: 1000;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(224.68deg, rgba(169.72, 1.28, 172.58, 1), rgba(59.96, 18.12, 91.95, 1) 22%, rgba(88.97, 27.49, 129.95, 1) 40%, rgba(123.39, 45.51, 175.31, 1) 50%, rgba(175.31, 45.51, 162.33, 1) 76%, rgba(152.02, 20.46, 138.86, 1) 90%); */
    min-height: 201vh;
}

.tip {
    width: 0;
    height: 0px;
    background-color: bisque;
    border-radius: 30px;
    position: absolute;
    top: 60px;
    right: -60px;
    visibility: hidden;
    color: rgba(0, 0, 0, 1);
    font-family: Archivo;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;

}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
}

.name {
    text-align: center;
    font-size: 32px;

}

.photo {

    width: 90%;
    height: 400px;
    margin: auto;
}

.photo img {
    width: 100%;
}

.cost {
    text-align: center;
    font-size: 25px;
}

.card {
    width: 340px;
    height: 532px;
}
.cost {
    background: linear-gradient(144.63deg, rgba(199.83, 122.97, 198.55, 1),rgba(204.12, 105.09, 202.47, 1) 8%,rgba(207.6, 90.56, 205.65, 1) 14%,rgba(211.34, 74.92, 209.07, 1) 21%,rgba(215.63, 57.04, 212.99, 1) 29%,rgba(219.11, 42.51, 216.17, 1) 35%,rgba(223.13, 25.75, 219.84, 1) 42%,rgba(199.31, 29.12, 214.67, 1) 50%,rgba(167.1, 33.7, 207.68, 1) 62%,rgba(139.08, 37.67, 201.6, 1) 71%,rgba(102.66, 42.84, 193.7, 1) 84%,rgba(0, 5.58, 111.56, 1) 100%);
    font-size: 25px;
    border-radius: 20%;
    width: 360px;
    height: 30px;
}
