body {
    background-color: brown;
    margin: 0;
    padding: 0;
}

.nazvanie::before {
    content: "Название:";
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
}

.opisanie::before {
    content: "Описание:";
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
}

.cena::before {
    content: "Цена:";
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
}

div.product-cart>div div.product-cart>div {
    background-color: blanchedalmond;
}

div.cena {
    font-size: 20px;
}

div.nazvanie {
    font-size: 14px;
}

div.opisanie {
    font-size: 18px;
}

.nazvanie {
    padding: 7px;
}

.opisanie {
    padding: 5px;
}

.product-cart {
    margin-left: 13px;
    margin-top: 7px;
}

img {
    width: 100px;
    border-radius: 20%;
    justify-content: center;
}

li {
    list-style: none;
}

#all {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 300px;
}

table {
    background-color: blanchedalmond;
}

div.product-cart {
    border-style: solid;
    border-color: aqua;
    border-width: 1px;
    width: 201px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 6px 8px 10px rgba(46, 44, 44, 0.432);
    transition: all 1s ease;
}

.product-cart:hover {
    border-color: rgb(63, 151, 46);
    width: 250px;
    height: 300px;
    background-color: blueviolet;
    box-shadow: 13px 8px 10px rgba(46, 44, 44, 0.432)
}

div#kryg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blueviolet;
    animation: amim 5s ease-in-out 10s alternate-reverse infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    margin-top: 270px;
    margin-left: 120px;

}

@keyframes amim {
    0% {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 270px;
        margin-left: 120px;
    }

    50% {
        margin-top: 200px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 120px;
    }

    75% {
        margin-top: 200px;
        width: 150px;
        height: 150px;
        border-radius: 0%;
        margin-left: 120px;
    }

    100% {
        width: 150px;
        height: 150px;
        border-radius: 0%;
        margin-top: 270px;
        margin-left: 120px;
    }
}