body {
    padding: 0;
    margin: 0;
}

#menu {
    position: sticky;
    top: 0;
    background-color: rgba(113, 8, 211, 0.5);
    height: 100%;

    font-size: 19pt;
    text-align: center;
    
}
.ti3070:hover .tip {
    visibility: visible;
    transition: all 5s ease;
    font-size: 10pt;
    width: 120px;
    height: 220px;
}

.ti3070 {
    position: relative;
}

.tip {
    width: 0px;
    height: 0px;
    background-color: bisque;
    border-radius: 30px;
    position: absolute;
    bottom: -60px;
    right: -60px;
    visibility: hidden;
}

@keyframes anim {
    0% {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
    100% {
        width: 120px;
        width: 120px;
        visibility: visible;
    }
}
@keyframes animm {
    0% {
        width: 120px;
        width: 120px;
        visibility: visible;
    }
    100% {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
}
