body {
    background-color: linear-gradient(224.68deg, rgba(169.72, 1.28, 172.58, 1),rgba(59.96, 18.12, 91.95, 1) 22%,rgba(88.97, 27.49, 129.95, 1) 40%,rgba(123.39, 45.51, 175.31, 1) 50%,rgba(175.31, 45.51, 162.33, 1) 76%,rgba(152.02, 20.46, 138.86, 1) 90%);
}