p.green {
    color: green;
    font-size: 22pt;
}
p.yellow {
    color: yellow;
    font-size: 18pt;
}
p.red {
    color: red;
    font-size: 32pt;
}
div.green {
    color: green;
}
div#blue {
    color: blue;
}
div.red {
    color: red;
}
div.yellow {
    color: yellow;
}