@font-face {
    font-family: "try";
    src: url(../hounts/ofont.ru_Farang.ttf);
}
td {
    color: grey;
}
li {
    color: rgb(2, 135, 252);
}
b {
    color: rgb(102, 6, 6);
    font-size: 72pt;
    text-align: center;
}
i {
    color: rgb(0, 0, 0);
    font-size: 72pt;

}
body {
    width: 75%;
}
h1 {
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 72pt;
}
p {
    text-align: justify;
    font-family: grafiti;
    font-size: 16pt;
    line-height: 2;

}
a {
    color: red;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    font-size: 16pt;
    font-family: 'timesss', Times, serif;
}
input {
    font-family: "try", Helvetica, sans-serif;
}